*{
    outline: 0;
    margin: 0;
    padding: 0;    
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* // #65b05b; */
}

canvas{
    width: 100%;
    height: 100%;
}